# The Chicago Datasets

<br>
<br>

<img src="https://cdn.britannica.com/59/94459-050-DBA42467/Skyline-Chicago.jpg" width="500" align="left"/>

<br>
<br>

<br>

## Understand the datasets


The three datasets used in this notebook are available on the city of Chicago's Data Portal:

* <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Socioeconomic Indicators in Chicago</a>

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.


* <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Public Schools</a>

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

* <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Crime Data</a>

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

<br>

<br>

## Queries

Ten SQL queries were executed to solve the following problems:

<br>

### No. 1

##### Find the total number of crimes recorded in the CRIME table.

In [16]:
%sql select count(*) as TOTAL_CRIMES from CHICAGO_CRIME_DATA

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(533,)]

<br>

### No. 2

##### List community areas with per capita income less than 11000.

In [5]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

<br>

### No. 3

##### List all case numbers for crimes  involving minors.

In [18]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%'

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('HL266884',), ('HK238408',)]

<br>

### No. 4

##### List all kidnapping crimes involving a child.

In [20]:
%sql select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE='KIDNAPPING' AND DESCRIPTION like '%CHILD%'

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

<br>

### No. 5

##### What kinds of crimes were recorded at schools?

In [41]:
%sql select distinct PRIMARY_TYPE, DESCRIPTION from CHICAGO_CRIME_DATA \
where LOCATION_DESCRIPTION like '%SCHOOL%'

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('PUBLIC PEACE VI', 'BOMB THREAT'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY'),
 ('BATTERY', 'SIMPLE'),
 ('CRIMINAL TRESPA', 'TO LAND'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE')]

<br>

### No. 6

##### List the average safety score for each type of school.

In [23]:
%sql select "Elementary, Middle, or High School", AVG(SAFETY_SCORE) as AVG_SAFETY_SCORE \
from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School"

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

<br>

### No. 7

##### List 5 community areas with highest % of households below poverty line.

In [13]:
%sql select COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA \
    order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc nulls last limit 5

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(54, 'Riverdale', Decimal('56.5')),
 (37, 'Fuller Park', Decimal('51.2')),
 (68, 'Englewood', Decimal('46.6')),
 (29, 'North Lawndale', Decimal('43.1')),
 (27, 'East Garfield Park', Decimal('42.4'))]

<br>

### No. 8

##### Which community area is most crime prone?

In [27]:
%sql select COMMUNITY_AREA_NUMBER, count(CASE_NUMBER) as NO_OF_CASES from CHICAGO_CRIME_DATA \
group by COMMUNITY_AREA_NUMBER order by NO_OF_CASES desc limit 1

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(25, 43)]

<br>

### No. 9

##### Find the name of the community area with highest hardship index.

In [30]:
%sql select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA \
where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('Riverdale', 98)]

<br>

### No. 10

##### Determine the Community Area Name with most number of crimes.

In [35]:
%%sql select COMMUNITY_AREA_NAME from CENSUS_DATA 
where COMMUNITY_AREA_NUMBER=(select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA 
                             group by COMMUNITY_AREA_NUMBER 
                            order by count(COMMUNITY_AREA_NUMBER) desc limit 1);

 * ibm_db_sa://yzn02438:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('Austin',)]